# API Configuration
VITE_API_BASE_URL=http://localhost:5173/api

# Environment
VITE_APP_ENV=development

# USE THIS ONES FOR TESTING BACKEND AND FRONT END CONNECTION
VITE_SUPABASE_URL=https://zumkrhrasldshlnfgpft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1bWtyaHJhc2xkc2hsbmZncGZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1Mjg0NDMsImV4cCI6MjA3NjEwNDQ0M30.XO969jHsvXNXWVK1-q9UvqoOu78hm4EZdML6qwYAFtE
VITE_API_URL=http://127.0.0.1:8000
#change from false to true if you want to test mock users
VITE_USE_MOCK_AUTH=false
